.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 54, 208);
  /* background-image: url(https://images.unsplash.com/photo-1542628682-88321d2a4828?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
  box-shadow: inset 0px 0px 10px 10px black;
  animation: colors 20s infinite alternate;

  


}

@keyframes colors {
  0%{background-color: rgb(0, 255, 255);}
  20%{background-color: rgb(67, 208, 54);}
  40%{background-color: rgb(54, 75, 208);}
  60%{background-color: rgb(164, 54, 208);}
  80%{background-color: rgb(208, 177, 54);}
  100%{background-color: rgb(208, 54, 54);}
}